.App {
  margin: 20px ;
  padding: 0;
}

.header {
  background-color: aquamarine;
  height: 100px;
  display: flex;
  justify-content: space-between;
  font-size:20px;
  padding-right: 21px;
  align-items: center;
  padding-inline: 70px; 
  border-radius: 20px;
  margin-bottom: 25px ;
}
.username{
  font-size: 30px;
}
span{
  font-size: 30px;
  font-weight: bolder;
}


.content{
  background-color: blue;
  width: 100%;
  display: flex;
}
.calander{
  width: max-content;
  background-color: rgb(9, 10, 105);
}
.expenses{
  width: 100%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
} 
#textinputs{
  margin-left: 11px;
}
#expenseinput{
  width: 60px;
  margin-right: 11px;
}